Repository devtron-labs/devtron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron, @pawan-mehta-dt

adding migration-02
  scripts/sql/30602300_plugin_icons_update.down.sql
  scripts/sql/30602300_plugin_icons_update.up.sql
Owners: @prakarsh-dt, @vikramdevtron, @nishant-d, @vivek-devtron

addign new plugins images
  assets/plugin-icons/ic-plugin-ansible.png
  assets/plugin-icons/ic-plugin-apply-k8s-job.png
  assets/plugin-icons/ic-plugin-bitbucket-runner-trigger.png
  assets/plugin-icons/ic-plugin-cloudanix-imagescan.png
  assets/plugin-icons/ic-plugin-codacy.png
  assets/plugin-icons/ic-plugin-container-image-exporter.png
  assets/plugin-icons/ic-plugin-copacetic.png
  assets/plugin-icons/ic-plugin-copy-container-image.png
  assets/plugin-icons/ic-plugin-cosign.png
  assets/plugin-icons/ic-plugin-crane.png
  assets/plugin-icons/ic-plugin-devtron-cd-trigger.png
  assets/plugin-icons/ic-plugin-devtron-ci-trigger.png
  assets/plugin-icons/ic-plugin-devtron-config-updater.png
  assets/plugin-icons/ic-plugin-devtron-job-trigger.png
  assets/plugin-icons/ic-plugin-dockerslim.png
  assets/plugin-icons/ic-plugin-dtrack.png
  assets/plugin-icons/ic-plugin-eks-cluster.png
  assets/plugin-icons/ic-plugin-email-notifier.png
  assets/plugin-icons/ic-plugin-gcs-bucket.png
  assets/plugin-icons/ic-plugin-github-branch-divergence-checker.png
  assets/plugin-icons/ic-plugin-github-pr-closer.png
  assets/plugin-icons/ic-plugin-github-pr-updater.png
  assets/plugin-icons/ic-plugin-github-release.png
  assets/plugin-icons/ic-plugin-gke-provisioner.png
  assets/plugin-icons/ic-plugin-golang-migrate.png
  assets/plugin-icons/ic-plugin-hadolint.png
  assets/plugin-icons/ic-plugin-jira-updater.png
  assets/plugin-icons/ic-plugin-k6-load-testing.png
  assets/plugin-icons/ic-plugin-k8s-cli.png
  assets/plugin-icons/ic-plugin-mail-master.png
  assets/plugin-icons/ic-plugin-notify-slack.png
  assets/plugin-icons/ic-plugin-notify-webhook.png
  assets/plugin-icons/ic-plugin-pull-image-from-registry.png
  assets/plugin-icons/ic-plugin-rate-limit-fix.png
  assets/plugin-icons/ic-plugin-security-scan.png
  assets/plugin-icons/ic-plugin-semgrep.png
  assets/plugin-icons/ic-plugin-servicenow.png
  assets/plugin-icons/ic-plugin-sonarqube.png
  assets/plugin-icons/ic-plugin-terraform-cli.png
  assets/plugin-icons/ic-plugin-trigger-jenkins.png
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

updated authetnicator to c3254b79e386 (#6144)
  go.mod
  go.sum
  vendor/github.com/devtron-labs/authenticator/middleware/AuthMiddleware.go
  vendor/modules.txt
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

Updated release notes
  beta-releasenotes.md
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

addign new plugins images (#6145)
  assets/plugin-icons/ic-plugin-ansible.png
  assets/plugin-icons/ic-plugin-apply-k8s-job.png
  assets/plugin-icons/ic-plugin-bitbucket-runner-trigger.png
  assets/plugin-icons/ic-plugin-cloudanix-imagescan.png
  assets/plugin-icons/ic-plugin-codacy.png
  assets/plugin-icons/ic-plugin-container-image-exporter.png
  assets/plugin-icons/ic-plugin-copacetic.png
  assets/plugin-icons/ic-plugin-copy-container-image.png
  assets/plugin-icons/ic-plugin-cosign.png
  assets/plugin-icons/ic-plugin-crane.png
  assets/plugin-icons/ic-plugin-devtron-cd-trigger.png
  assets/plugin-icons/ic-plugin-devtron-ci-trigger.png
  assets/plugin-icons/ic-plugin-devtron-config-updater.png
  assets/plugin-icons/ic-plugin-devtron-job-trigger.png
  assets/plugin-icons/ic-plugin-dockerslim.png
  assets/plugin-icons/ic-plugin-dtrack.png
  assets/plugin-icons/ic-plugin-eks-cluster.png
  assets/plugin-icons/ic-plugin-email-notifier.png
  assets/plugin-icons/ic-plugin-gcs-bucket.png
  assets/plugin-icons/ic-plugin-github-branch-divergence-checker.png
  assets/plugin-icons/ic-plugin-github-pr-closer.png
  assets/plugin-icons/ic-plugin-github-pr-updater.png
  assets/plugin-icons/ic-plugin-github-release.png
  assets/plugin-icons/ic-plugin-gke-provisioner.png
  assets/plugin-icons/ic-plugin-golang-migrate.png
  assets/plugin-icons/ic-plugin-hadolint.png
  assets/plugin-icons/ic-plugin-jira-updater.png
  assets/plugin-icons/ic-plugin-k6-load-testing.png
  assets/plugin-icons/ic-plugin-k8s-cli.png
  assets/plugin-icons/ic-plugin-mail-master.png
  assets/plugin-icons/ic-plugin-notify-slack.png
  assets/plugin-icons/ic-plugin-notify-webhook.png
  assets/plugin-icons/ic-plugin-pull-image-from-registry.png
  assets/plugin-icons/ic-plugin-rate-limit-fix.png
  assets/plugin-icons/ic-plugin-security-scan.png
  assets/plugin-icons/ic-plugin-semgrep.png
  assets/plugin-icons/ic-plugin-servicenow.png
  assets/plugin-icons/ic-plugin-sonarqube.png
  assets/plugin-icons/ic-plugin-terraform-cli.png
  assets/plugin-icons/ic-plugin-trigger-jenkins.png
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

Updated release notes
  beta-releasenotes.md
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

misc: refactor-plugin-images migrations (#6108)
  scripts/sql/30602300_plugin_icons_update.down.sql
  scripts/sql/30602300_plugin_icons_update.up.sql
Owners: @prakarsh-dt, @vikramdevtron, @nishant-d, @vivek-devtron

Updated release notes
  beta-releasenotes.md
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

Added members
  .github/workflows/auto-label.yml
  .github/workflows/members.txt
Owners: @prakarsh-dt, @nishant-d, @pawan-mehta-dt, @vikramdevtron

envName and appName in comparisonItems
  api/restHandler/app/configDiff/DeploymentConfigurationRestHandler.go
  pkg/configDiff/bean/bean.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

fix: delete git repo without pipeline config
  pkg/pipeline/CiMaterialConfigService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

modified the router
  api/infraConfig/router.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

support wfrid in case of previous deployments as config type
  pkg/configDiff/DeploymentConfigurationService.go
  pkg/deployment/manifest/configMapAndSecret/read/ConfigMapHistoryReadService.go
  pkg/pipeline/history/repository/ConfigMapHistoryRepository.go
  pkg/pipeline/history/repository/PipelineStrategyHistoryRepository.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

bug fix
  pkg/configDiff/utils/utils.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

chore: deprecated api /orchestrator/plugin/global POST
  api/restHandler/GlobalPluginRestHandler.go
  api/router/GlobalPluginRouter.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

updated migration number
  scripts/sql/30700000_runtime-variable-v3.down.sql
  scripts/sql/30700000_runtime-variable-v3.up.sql
Owners: @prakarsh-dt, @vikramdevtron, @nishant-d, @vivek-devtron

fix: git material delete without config
  pkg/pipeline/CiMaterialConfigService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

fix: mark runner failed
  pkg/deployment/trigger/devtronApps/PostStageTriggerService.go
  pkg/deployment/trigger/devtronApps/PreStageTriggerService.go
  pkg/pipeline/CiService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

fix: delete git repo without pipeline config (#6148)
  pkg/pipeline/CiMaterialConfigService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

Updated release notes
  beta-releasenotes.md
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

.github/CODEOWNERS:

#ALL
* @vikramdevtron @nishant-d @prakarsh-dt @vivek-devtron

#Helm Charts
charts/devtron/ @prakarsh-dt @pawan-mehta-dt @nishant-d @vikramdevtron
scripts/devtron-reference-helm-charts @prakarsh-dt @pawan-mehta-dt @nishant-d @vikramdevtron
CHANGELOG/ @prakarsh-dt @pawan-mehta-dt @nishant-d @vikramdevtron

#Migration scripts
scripts/sql @prakarsh-dt @vikramdevtron @nishant-d @vivek-devtron
scripts/utilities @prakarsh-dt @nishant-d @pawan-mehta-dt @vivek-devtron

#Github Specific
.github/ @prakarsh-dt @nishant-d @pawan-mehta-dt @vikramdevtron
