Repository devtron-labs/devtron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron, @pawan-mehta-dt, @kripanshdevtron

Updated latest image of hyperion in installer
  charts/devtron/devtron-bom.yaml
  charts/devtron/values.yaml
Owners: @prakarsh-dt, @pawan-mehta-dt, @nishant-d

Update values.yaml
  charts/devtron/values.yaml
Owners: @prakarsh-dt, @pawan-mehta-dt, @nishant-d

Update devtron-bom.yaml
  charts/devtron/devtron-bom.yaml
Owners: @prakarsh-dt, @pawan-mehta-dt, @nishant-d

Update devtron.yaml
  manifests/yamls/devtron.yaml
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

Updated release-notes files
  CHANGELOG/release-notes-v1.0.1.md
  releasenotes.md
Owners: @prakarsh-dt, @pawan-mehta-dt, @nishant-d, @vikramdevtron, @vivek-devtron

release: PR for v1.0.1 (#6088)
  CHANGELOG/release-notes-v1.0.1.md
  charts/devtron/Chart.yaml
  charts/devtron/devtron-bom.yaml
  charts/devtron/values.yaml
  manifests/install/devtron-installer.yaml
  manifests/installation-script
  manifests/release.txt
  manifests/version.txt
  manifests/yamls/devtron.yaml
Owners: @prakarsh-dt, @pawan-mehta-dt, @nishant-d, @vikramdevtron, @vivek-devtron

Updated release-notes files
  beta-releasenotes.md
  manifests/release.txt
  releasenotes.md
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

refactoring git provider
  Wire.go
  api/restHandler/CoreAppRestHandler.go
  api/restHandler/GitHostRestHandler.go
  api/restHandler/GitProviderRestHandler.go
  api/restHandler/GitWebhookRestHandler.go
  api/restHandler/WebhookEventHandler.go
  api/restHandler/app/pipeline/AutoCompleteRestHandler.go
  api/restHandler/app/pipeline/configure/BuildPipelineRestHandler.go
  api/restHandler/app/pipeline/configure/PipelineConfigRestHandler.go
  pkg/build/git/gitHost/GitHostConfig.go
  pkg/build/git/gitProvider/GitRegistryConfig.go
  pkg/build/git/gitProvider/read/gitProviderReadService.go
  pkg/build/git/gitProvider/wire_gitProvider.go
  pkg/build/git/gitWebhook/GitWebhookService.go
  pkg/build/git/gitWebhook/WebhookSecretValidator.go
  pkg/build/git/wire_git.go
  pkg/build/wire_build.go
  pkg/commonService/CommonService.go
  pkg/eventProcessor/in/CIPipelineEventProcessorService.go
  wire_gen.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

git host refactring
  Wire.go
  api/restHandler/GitHostRestHandler.go
  api/restHandler/WebhookEventHandler.go
  pkg/build/git/gitHost/GitHostConfig.go
  pkg/build/git/gitHost/read/gitHostReadService.go
  pkg/build/git/gitHost/wire_gitHost.go
  pkg/build/git/wire_git.go
  wire_gen.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

handle deleted / non-existent environment
  pkg/pipeline/DeploymentPipelineConfigService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

misc: handler error while while helm deployment (#6082)
  pkg/appStore/installedApp/service/AppStoreDeploymentService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

Updated release notes
  beta-releasenotes.md
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

created CiTemplateReadService.go
  Wire.go
  pkg/appClone/AppCloneService.go
  pkg/build/pipeline/CiTemplateReadService.go
  pkg/build/pipeline/bean/CiTemplateBean.go
  pkg/deployment/trigger/devtronApps/TriggerService.go
  pkg/pipeline/AppArtifactManager.go
  pkg/pipeline/BuildPipelineConfigService.go
  pkg/pipeline/CiCdPipelineOrchestrator.go
  pkg/pipeline/CiMaterialConfigService.go
  pkg/pipeline/CiService.go
  pkg/pipeline/CiTemplateService.go
  pkg/pipeline/CiTemplateService_test.go
  pkg/pipeline/history/CiPipelineHistoryService.go
  pkg/pipeline/history/CiPipelineHistoryService_test.go
  pkg/pipeline/history/ciTemplateHistoryService.go
  pkg/pipeline/history/ciTemplateHistoryService_test.go
  wire_gen.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

created CiTemplateReadService.go
  api/appbean/AppDetail.go
  api/restHandler/CoreAppRestHandler.go
  api/restHandler/app/pipeline/configure/BuildPipelineRestHandler.go
  api/restHandler/app/pipeline/configure/PipelineConfigRestHandler.go
  client/cron/CiTriggerCron.go
  client/telemetry/TelemetryEventClientExtended.go
  cmd/external-app/wire_gen.go
  internal/sql/repository/pipelineConfig/CiPipelineRepository.go
  pkg/bean/app.go
  pkg/build/pipeline/CiTemplateReadService.go
  pkg/build/pipeline/bean/CiBuildConfig.go
  pkg/build/pipeline/bean/CiTemplateBean.go
  pkg/build/pipeline/bean/SourceCiDownStream.go
  pkg/deployment/trigger/devtronApps/PreStageTriggerService.go
  pkg/pipeline/BuildPipelineConfigService.go
  pkg/pipeline/BuildPipelineSwitchService.go
  pkg/pipeline/CiBuildConfigService.go
  pkg/pipeline/CiCdPipelineOrchestrator.go
  pkg/pipeline/CiHandler.go
  pkg/pipeline/CiLogService.go
  pkg/pipeline/CiService.go
  pkg/pipeline/CiTemplateService_test.go
  pkg/pipeline/WorkflowService.go
  pkg/pipeline/WorkflowServiceIT_test.go
  pkg/pipeline/adapter/adapter.go
  pkg/pipeline/history/CiPipelineHistoryService_test.go
  pkg/pipeline/history/ciTemplateHistoryService_test.go
  pkg/pipeline/mocks/CiBuildConfigService.go
  pkg/pipeline/types/Workflow.go
  pkg/workflow/dag/WorkflowDagExecutor.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

created CiTemplateReadService.go
  internal/sql/repository/pipelineConfig/CiPipelineRepository.go
  pkg/pipeline/constants/constants.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

fix for CiTemplateService_test.go
  pkg/pipeline/CiTemplateService_test.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

common-lib sync
  go.mod
  go.sum
  vendor/modules.txt
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

chore: depandabot fixes (#6070)
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/modules.txt
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

Updated release notes
  beta-releasenotes.md
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

chore: refactoring and created CiTemplateReadService.go (#6090)
  Wire.go
  api/appbean/AppDetail.go
  api/restHandler/CoreAppRestHandler.go
  api/restHandler/app/pipeline/configure/BuildPipelineRestHandler.go
  api/restHandler/app/pipeline/configure/PipelineConfigRestHandler.go
  client/cron/CiTriggerCron.go
  client/telemetry/TelemetryEventClientExtended.go
  cmd/external-app/wire_gen.go
  internal/sql/repository/pipelineConfig/CiPipelineRepository.go
  pkg/appClone/AppCloneService.go
  pkg/bean/app.go
  pkg/build/pipeline/CiTemplateReadService.go
  pkg/build/pipeline/bean/CiBuildConfig.go
  pkg/build/pipeline/bean/CiTemplateBean.go
  pkg/build/pipeline/bean/SourceCiDownStream.go
  pkg/deployment/trigger/devtronApps/PreStageTriggerService.go
  pkg/deployment/trigger/devtronApps/TriggerService.go
  pkg/pipeline/AppArtifactManager.go
  pkg/pipeline/BuildPipelineConfigService.go
  pkg/pipeline/BuildPipelineSwitchService.go
  pkg/pipeline/CiBuildConfigService.go
  pkg/pipeline/CiCdPipelineOrchestrator.go
  pkg/pipeline/CiHandler.go
  pkg/pipeline/CiLogService.go
  pkg/pipeline/CiMaterialConfigService.go
  pkg/pipeline/CiService.go
  pkg/pipeline/CiTemplateService.go
  pkg/pipeline/CiTemplateService_test.go
  pkg/pipeline/WorkflowService.go
  pkg/pipeline/WorkflowServiceIT_test.go
  pkg/pipeline/adapter/adapter.go
  pkg/pipeline/constants/constants.go
  pkg/pipeline/history/CiPipelineHistoryService.go
  pkg/pipeline/history/CiPipelineHistoryService_test.go
  pkg/pipeline/history/ciTemplateHistoryService.go
  pkg/pipeline/history/ciTemplateHistoryService_test.go
  pkg/pipeline/mocks/CiBuildConfigService.go
  pkg/pipeline/types/Workflow.go
  pkg/workflow/dag/WorkflowDagExecutor.go
  wire_gen.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

Updated release notes
  beta-releasenotes.md
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

wire
  Wire.go
  pkg/build/git/wire_git.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

removed unused dep
  api/restHandler/app/pipeline/configure/PipelineConfigRestHandler.go
  wire_gen.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

unsed dep removed
  pkg/commonService/CommonService.go
  wire_gen.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

added log for setting
  client/argocdServer/connection/Connection.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

feat: build email template update
  scripts/sql/30202300_build_email_template.down.sql
  scripts/sql/30202300_build_email_templates.up.sql
Owners: @prakarsh-dt, @vikramdevtron, @kripanshdevtron, @nishant-d

compile resolve
  pkg/pipeline/WorkflowService.go
  pkg/pipeline/types/Workflow.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

migrations number
  scripts/sql/30102300_alter_cluster_table_.down.sql
  scripts/sql/30102300_alter_cluster_table_.up.sql
  scripts/sql/30202300_cluster_panel_.down.sql
  scripts/sql/30202300_cluster_panel_.up.sql
Owners: @prakarsh-dt, @vikramdevtron, @kripanshdevtron, @nishant-d

misc: Kubecon 2024 oss sync (#6094)
  api/k8s/capacity/k8sCapacityRestHandler.go
  pkg/cluster/ClusterService.go
  pkg/cluster/repository/ClusterRepository.go
  pkg/k8s/capacity/bean/bean.go
  pkg/k8s/capacity/k8sCapacityService.go
  scripts/sql/30102300_alter_cluster_table_.down.sql
  scripts/sql/30102300_alter_cluster_table_.up.sql
  scripts/sql/30202300_cluster_panel_.down.sql
  scripts/sql/30202300_cluster_panel_.up.sql
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron, @kripanshdevtron

Updated release notes
  beta-releasenotes.md
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

feat: K8sdriverOptions suppport in build infra (#6040)
  api/infraConfig/restHandler.go
  api/infraConfig/router.go
  pkg/infraConfig/adapter/adapter.go
  pkg/infraConfig/bean.go
  pkg/infraConfig/bean/bean.go
  pkg/infraConfig/infraConfigRepository.go
  pkg/infraConfig/infraConfigService.go
  pkg/infraConfig/util/constants.go
  pkg/infraConfig/util/utils.go
  pkg/pipeline/CiService.go
  pkg/pipeline/WorkflowService.go
  pkg/pipeline/infraProviders/infraGetters/ciPipeline/ciPipelineInfraGetter.go
  pkg/pipeline/infraProviders/infraGetters/infraGetter.go
  pkg/pipeline/infraProviders/infraGetters/job/jobInfraGetter.go
  pkg/pipeline/types/Workflow.go
  scripts/sql/029900_022_buildx_infra.down.sql
  scripts/sql/029900_022_buildx_infra.up.sql
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron, @kripanshdevtron

Updated release notes
  beta-releasenotes.md
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

migration sequence fix
  scripts/sql/30302300_buildx_infra.down.sql
  scripts/sql/30302300_buildx_infra.up.sql
Owners: @prakarsh-dt, @vikramdevtron, @kripanshdevtron, @nishant-d

update sql fix
  scripts/sql/30302300_buildx_infra.down.sql
  scripts/sql/30302300_buildx_infra.up.sql
Owners: @prakarsh-dt, @vikramdevtron, @kripanshdevtron, @nishant-d

update sql fix (#6096)
  scripts/sql/30302300_buildx_infra.down.sql
  scripts/sql/30302300_buildx_infra.up.sql
Owners: @prakarsh-dt, @vikramdevtron, @kripanshdevtron, @nishant-d

Updated release notes
  beta-releasenotes.md
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

sql injection fix
  pkg/externalLink/ExternalLinkIdentifierMappingRepository.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

more query fixes and error handling
  internal/sql/repository/AppListingRepository.go
  pkg/appStore/installedApp/repository/InstalledAppVersionHistory.go
  pkg/cluster/EnvironmentService.go
  pkg/cluster/repository/EnvironmentRepository.go
  pkg/security/policyService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

handle deleted / non-existent environment
  pkg/pipeline/DeploymentPipelineConfigService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

misc: Sql query fixes (#6097)
  internal/sql/repository/AppListingRepository.go
  pkg/appStore/installedApp/repository/InstalledAppVersionHistory.go
  pkg/cluster/EnvironmentService.go
  pkg/cluster/repository/EnvironmentRepository.go
  pkg/externalLink/ExternalLinkIdentifierMappingRepository.go
  pkg/pipeline/DeploymentPipelineConfigService.go
  pkg/security/policyService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

.github/CODEOWNERS:

#ALL
* @vikramdevtron @nishant-d @prakarsh-dt @vivek-devtron

#Helm Charts
charts/devtron/ @prakarsh-dt @pawan-mehta-dt @nishant-d
scripts/devtron-reference-helm-charts @prakarsh-dt @pawan-mehta-dt @nishant-d
CHANGELOG/ @prakarsh-dt @pawan-mehta-dt @nishant-d

#Migration scripts
scripts/sql @prakarsh-dt @vikramdevtron @kripanshdevtron @nishant-d
scripts/utilities @prakarsh-dt @nishant-d @pawan-mehta-dt

#Github Specific
.github/ @prakarsh-dt @nishant-d @pawan-mehta-dt
