Repository devtron-labs/devtron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron, @pawan-mehta-dt, @kripanshdevtron

.github/CODEOWNERS:

#ALL
* @vikramdevtron @nishant-d @prakarsh-dt @vivek-devtron

#Helm Charts
charts/devtron/ @prakarsh-dt @pawan-mehta-dt @nishant-d
scripts/devtron-reference-helm-charts @prakarsh-dt @pawan-mehta-dt @nishant-d
CHANGELOG/ @prakarsh-dt @pawan-mehta-dt @nishant-d

#Migration scripts
scripts/sql @prakarsh-dt @vikramdevtron @kripanshdevtron @nishant-d
scripts/utilities @prakarsh-dt @nishant-d @pawan-mehta-dt

#Github Specific
.github/ @prakarsh-dt @nishant-d @pawan-mehta-dt

Rename 299022_00_demo.up.sql to 29902200_demo.up.sql
  scripts/sql/29902200_demo.up.sql
Owners: @prakarsh-dt, @vikramdevtron, @kripanshdevtron, @nishant-d

Create 29902200_demo.down.sql
  scripts/sql/29902200_demo.down.sql
Owners: @prakarsh-dt, @vikramdevtron, @kripanshdevtron, @nishant-d

module installation
  pkg/module/ModuleCacheService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

module installation (#6083)
  pkg/module/ModuleCacheService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

Updated release notes
  beta-releasenotes.md
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

module installation (#6084)
  pkg/module/ModuleCacheService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

server version check
  pkg/server/ServerService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

server version check
  pkg/server/ServerService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

demo
  .github/workflows/issue-validate.sh
Owners: @prakarsh-dt, @nishant-d, @pawan-mehta-dt

fix: server version fix (#6080)
  pkg/server/ServerCacheService.go
  pkg/server/ServerService.go
  pkg/server/config/ServerEnvConfig.go
  wire_gen.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

Rename 29902200_demo.down.sql to 29802101_demo.down.sql
  scripts/sql/29802101_demo.down.sql
Owners: @prakarsh-dt, @vikramdevtron, @kripanshdevtron, @nishant-d

Rename 29902200_demo.up.sql to 29802101_demo.up.sql
  scripts/sql/29802101_demo.up.sql
Owners: @prakarsh-dt, @vikramdevtron, @kripanshdevtron, @nishant-d

fix: server version on updating fix (#6079)
  pkg/server/ServerCacheService.go
  pkg/server/ServerService.go
  pkg/server/config/ServerEnvConfig.go
  wire_gen.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

Updated release notes
  beta-releasenotes.md
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

Rename 29802101_demo.down.sql to 29802102_demo.down.sql
  scripts/sql/29802102_demo.down.sql
Owners: @prakarsh-dt, @vikramdevtron, @kripanshdevtron, @nishant-d

Rename 29802101_demo.up.sql to 29802102_demo.up.sql
  scripts/sql/29802102_demo.up.sql
Owners: @prakarsh-dt, @vikramdevtron, @kripanshdevtron, @nishant-d

Create 29902200_dem.up.sql
  scripts/sql/29902200_dem.up.sql
Owners: @prakarsh-dt, @vikramdevtron, @kripanshdevtron, @nishant-d

Create Create 29902200_dem.down.sql
  scripts/sql/Create 29902200_dem.down.sql
Owners: @prakarsh-dt, @vikramdevtron, @kripanshdevtron, @nishant-d

Rename 29802102_demo.down.sql to 29802101_demo.down.sql
  scripts/sql/29802101_demo.down.sql
Owners: @prakarsh-dt, @vikramdevtron, @kripanshdevtron, @nishant-d

Rename 29802102_demo.up.sql to 29802101_demo.up.sql
  scripts/sql/29802101_demo.up.sql
Owners: @prakarsh-dt, @vikramdevtron, @kripanshdevtron, @nishant-d

Create 300_dem.up.sql
  scripts/sql/300_dem.up.sql
Owners: @prakarsh-dt, @vikramdevtron, @kripanshdevtron, @nishant-d

Create 300_dem.down.sql
  scripts/sql/300_dem.down.sql
Owners: @prakarsh-dt, @vikramdevtron, @kripanshdevtron, @nishant-d

refactored the notify bean
  client/events/bean/bean.go
  pkg/notifier/NotificationConfigBuilder.go
  pkg/notifier/SESNotificationService.go
  pkg/notifier/SMTPNotificationService.go
  pkg/notifier/adapter/adapter.go
  pkg/notifier/beans/beans.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

Update pr-issue-validator.yaml
  .github/workflows/pr-issue-validator.yaml
Owners: @prakarsh-dt, @nishant-d, @pawan-mehta-dt

fix: external links not visible in case of external helm apps (#6077)
  internal/sql/repository/AppListingRepository.go
  pkg/appStore/installedApp/repository/InstalledAppVersionHistory.go
  pkg/cluster/EnvironmentService.go
  pkg/cluster/repository/EnvironmentRepository.go
  pkg/externalLink/ExternalLinkIdentifierMappingRepository.go
  pkg/security/policyService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

Delete scripts/sql/Create 29902200_dem.down.sql
  scripts/sql/Create 29902200_dem.down.sql
Owners: @prakarsh-dt, @vikramdevtron, @kripanshdevtron, @nishant-d

Create 29902201_cluster_terminal_images.up.sql
  scripts/sql/29902201_cluster_terminal_images.up.sql
Owners: @prakarsh-dt, @vikramdevtron, @kripanshdevtron, @nishant-d

Create 29902201_cluster_terminal_images.down.sql
  scripts/sql/29902201_cluster_terminal_images.down.sql
Owners: @prakarsh-dt, @vikramdevtron, @kripanshdevtron, @nishant-d

Delete scripts/sql/29902201_cluster_terminal_images.up.sql
  scripts/sql/29902201_cluster_terminal_images.up.sql
Owners: @prakarsh-dt, @vikramdevtron, @kripanshdevtron, @nishant-d

Delete scripts/sql/29902201_cluster_terminal_images.down.sql
  scripts/sql/29902201_cluster_terminal_images.down.sql
Owners: @prakarsh-dt, @vikramdevtron, @kripanshdevtron, @nishant-d

Update release.txt
  manifests/release.txt
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

Updated latest image of devtron in installer
  charts/devtron/Chart.yaml
  charts/devtron/devtron-bom.yaml
  charts/devtron/values.yaml
  manifests/install/devtron-installer.yaml
  manifests/installation-script
  manifests/release.txt
  manifests/version.txt
  manifests/yamls/devtron.yaml
Owners: @prakarsh-dt, @pawan-mehta-dt, @nishant-d, @vikramdevtron, @vivek-devtron

Updated latest image of hyperion in installer
  charts/devtron/devtron-bom.yaml
  charts/devtron/values.yaml
Owners: @prakarsh-dt, @pawan-mehta-dt, @nishant-d

misc
  client/events/bean/bean.go
  cmd/external-app/wire_gen.go
  pkg/notifier/SESNotificationService.go
  pkg/notifier/SMTPNotificationService.go
  pkg/notifier/beans/beans.go
  wire_gen.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

changes in yaml
  scripts/devtron-reference-helm-charts/deployment-chart_4-20-0/templates/deployment.yaml
  scripts/devtron-reference-helm-charts/deployment-chart_4-20-0/values.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-20-0/templates/deployment.yaml
Owners: @prakarsh-dt, @pawan-mehta-dt, @nishant-d

changes in yaml
  scripts/devtron-reference-helm-charts/deployment-chart_4-20-0/templates/deployment.yaml
  scripts/devtron-reference-helm-charts/deployment-chart_4-20-0/templates/service.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-20-0/templates/deployment.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-20-0/templates/service.yaml
Owners: @prakarsh-dt, @pawan-mehta-dt, @nishant-d

changes in yaml
  scripts/devtron-reference-helm-charts/statefulset-chart_5-1-0/templates/service.yaml
  scripts/devtron-reference-helm-charts/statefulset-chart_5-1-0/templates/statefulset.yaml
Owners: @prakarsh-dt, @pawan-mehta-dt, @nishant-d

changes in values yaml
  scripts/devtron-reference-helm-charts/statefulset-chart_5-1-0/values.yaml
Owners: @prakarsh-dt, @pawan-mehta-dt, @nishant-d

fix: refrence chart protocol fix (#6089)
  scripts/devtron-reference-helm-charts/deployment-chart_4-20-0/templates/deployment.yaml
  scripts/devtron-reference-helm-charts/deployment-chart_4-20-0/templates/service.yaml
  scripts/devtron-reference-helm-charts/deployment-chart_4-20-0/values.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-20-0/templates/deployment.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-20-0/templates/service.yaml
  scripts/devtron-reference-helm-charts/statefulset-chart_5-1-0/templates/service.yaml
  scripts/devtron-reference-helm-charts/statefulset-chart_5-1-0/templates/statefulset.yaml
  scripts/devtron-reference-helm-charts/statefulset-chart_5-1-0/values.yaml
Owners: @prakarsh-dt, @pawan-mehta-dt, @nishant-d

Update beta-releasenotes.md
  beta-releasenotes.md
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron
