Repository devtron-labs/devtron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron, @pawan-mehta-dt, @kripanshdevtron

release: PR for v1.0.0 (#6065)
  CHANGELOG/release-notes-v1.0.0.md
  charts/devtron/Chart.yaml
  charts/devtron/devtron-bom.yaml
  charts/devtron/values.yaml
  manifests/install/devtron-installer.yaml
  manifests/installation-script
  manifests/release.txt
  manifests/version.txt
  manifests/yamls/dashboard.yaml
  manifests/yamls/devtron.yaml
Owners: @prakarsh-dt, @pawan-mehta-dt, @nishant-d, @vikramdevtron, @vivek-devtron

Updated release-notes files
  beta-releasenotes.md
  manifests/release.txt
  releasenotes.md
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

fix: cluster namespace list informer
  pkg/cluster/ClusterService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

updated k8s.io/kubernetes from v1.29.6 to k8s.io/kubernetes v1.29.7
  go.mod
  go.sum
  vendor/modules.txt
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

jwt upgraded to github.com/golang-jwt/jwt/v4 v4.5.1
  go.mod
  go.sum
  vendor/github.com/golang-jwt/jwt/v4/parser.go
  vendor/modules.txt
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

moved method GetImageTaggingServiceConfig in read service
  api/restHandler/app/pipeline/configure/BuildPipelineRestHandler.go
  api/restHandler/app/pipeline/configure/DeploymentPipelineRestHandler.go
  pkg/build/artifacts/imageTagging/read/Config.go
  pkg/build/artifacts/imageTagging/read/ImageTaggingReadService.go
  pkg/devtronResource/history/deployment/cdPipeline/DeploymentHistoryService.go
  pkg/pipeline/ImageTaggingService.go
  wire_gen.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

Updated release notes
  beta-releasenotes.md
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

docs: added devtron platform to readme
  README.md
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

team read service impl and team service dependencies removed
  api/restHandler/BatchOperationRestHandler.go
  api/restHandler/BulkUpdateRestHandler.go
  api/restHandler/ConfigMapRestHandler.go
  api/restHandler/CoreAppRestHandler.go
  api/restHandler/DeploymentGroupRestHandler.go
  api/restHandler/DockerRegRestHandler.go
  api/restHandler/GitOpsConfigRestHandler.go
  api/restHandler/GitProviderRestHandler.go
  api/restHandler/NotificationRestHandler.go
  api/restHandler/ReleaseMetricsRestHandler.go
  api/restHandler/app/appList/AppFilteringRestHandler.go
  api/restHandler/app/appList/AppListingRestHandler.go
  api/restHandler/app/pipeline/configure/PipelineConfigRestHandler.go
  api/restHandler/app/pipeline/trigger/PipelineTriggerRestHandler.go
  api/restHandler/app/workflow/AppWorkflowRestHandler.go
  api/team/TeamRestHandler.go
  api/team/wire_team.go
  cmd/external-app/wire_gen.go
  internal/sql/repository/app/AppRepository.go
  pkg/appStore/chartGroup/ChartGroupService.go
  pkg/commonService/CommonService.go
  pkg/delete/DeleteService.go
  pkg/delete/DeleteServiceExtended.go
  pkg/eventProcessor/celEvaluator/WorkFlowTriggerEvent.go
  pkg/module/ModuleCacheService.go
  pkg/notifier/NotificationConfigService.go
  pkg/notifier/SESNotificationService.go
  pkg/notifier/SMTPNotificationService.go
  pkg/notifier/SlackNotificationService.go
  pkg/notifier/WebhookNotificationService.go
  pkg/security/ImageScanService.go
  pkg/team/TeamService.go
  pkg/team/adapter/adapter.go
  pkg/team/bean/bean.go
  pkg/team/read/readService.go
  pkg/team/read/read_test.go
  pkg/team/repository/TeamRepository.go
  util/rbac/EnforcerUtil.go
  util/rbac/EnforcerUtilHelm.go
  wire_gen.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

removing test file
  pkg/team/read/read_test.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

refactor ConfigMapBean.go from pipeline dir to pkg dir
  api/restHandler/ConfigMapRestHandler.go
  api/restHandler/CoreAppRestHandler.go
  cmd/external-app/wire_gen.go
  internal/sql/repository/chartConfig/ConfigMapRepository.go
  pkg/appClone/AppCloneService.go
  pkg/appClone/batch/DataHolder.go
  pkg/appClone/batch/Mocks_test.go
  pkg/bean/configMapBean/ConfigMapBean.go
  pkg/configDiff/DeploymentConfigurationService.go
  pkg/configDiff/adaptor/adaptor.go
  pkg/configDiff/bean/bean.go
  pkg/configDiff/helper/helper.go
  pkg/deployment/manifest/configMapAndSecret/read/ConfigMapHistoryReadService.go
  pkg/pipeline/CiCdPipelineOrchestrator.go
  pkg/pipeline/ConfigMapService.go
  pkg/pipeline/ConfigMapService_test.go
  pkg/pipeline/adapter/adapter.go
  wire_gen.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

moved ImageTaggingService.go
  Wire.go
  api/restHandler/app/pipeline/configure/BuildPipelineRestHandler.go
  api/restHandler/app/pipeline/configure/PipelineConfigRestHandler.go
  pkg/build/artifacts/imageTagging/ImageTaggingService.go
  pkg/build/artifacts/imageTagging/ImageTaggingService_test.go
  pkg/devtronResource/history/deployment/cdPipeline/DeploymentHistoryService.go
  pkg/pipeline/AppArtifactManager.go
  pkg/pipeline/CdHandler.go
  pkg/pipeline/CiHandler.go
  wire_gen.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

docs: devtron platform
  README.md
  assets/devtron-feat-glance.png
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

docs: add installation with integrations
  README.md
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

fix: TestImageTaggingService unit test cases
  internal/sql/repository/pipelineConfig/mocks/CiPipelineRepository.go
  internal/sql/repository/pipelineConfig/mocks/PipelineRepository.go
  pkg/build/artifacts/imageTagging/ImageTaggingService_test.go
  pkg/cluster/repository/mocks/EnvironmentRepository.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

added mock file
  pkg/build/artifacts/imageTagging/read/mocks/ImageTaggingReadService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

fix: TestImageTaggingService unit test cases
  pkg/build/artifacts/imageTagging/ImageTaggingService_test.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

moved into pkg/build/pipeline
  Wire.go
  client/telemetry/TelemetryEventClientExtended.go
  pkg/build/pipeline/read/CiPipelineReadService.go
  pkg/build/pipeline/wire_pipeline.go
  pkg/build/wire_build.go
  pkg/pipeline/BuildPipelineConfigService.go
  pkg/pipeline/BuildPipelineSwitchService.go
  wire_gen.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

doc: Updated Readme for K8s Dashboard & Devtron platform (#6074)
  COMMUNITY_CONTRIBUTIONS.md
  README.md
  assets/dashboard.png
  assets/devtron-feat-glance.png
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

Updated release notes
  beta-releasenotes.md
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

refactoring
  Wire.go
  api/restHandler/BulkUpdateRestHandler.go
  api/restHandler/CoreAppRestHandler.go
  api/restHandler/GitHostRestHandler.go
  api/restHandler/GitProviderRestHandler.go
  api/restHandler/NotificationRestHandler.go
  api/restHandler/WebhookEventHandler.go
  api/restHandler/app/pipeline/AutoCompleteRestHandler.go
  pkg/build/git/gitHost/bean/bean.go
  pkg/build/git/gitProvider/GitRegistryConfig.go
  pkg/build/git/gitProvider/bean/bean.go
  pkg/build/git/gitProvider/read/gitProviderReadService.go
  pkg/delete/DeleteServiceFullMode.go
  pkg/git/WebhookSecretValidator.go
  pkg/pipeline/GitHostConfig.go
  wire_gen.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

wip
  pkg/security/ImageScanService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

fix: sync with changes from updated-readme of common-lib This PR was created by multi-gitter to sync common-lib changes across multiple repositories.
  go.mod
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/LICENSE
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/client.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/connection.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/core/client.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/core/models.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/delegatedauthorization/models.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/errors.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/git/client.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/git/models.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/identity/client.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/identity/models.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/models.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/operations/client.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/operations/models.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/policy/client.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/policy/models.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/system/models.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/version.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/versionnegotiation.go
  vendor/github.com/microsoft/azure-devops-go-api/azuredevops/webapi/models.go
  vendor/modules.txt
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

removing unused methods
  pkg/team/TeamService.go
  wire_gen.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

sql injection fix
  pkg/externalLink/ExternalLinkIdentifierMappingRepository.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

sql injection fix
  pkg/externalLink/ExternalLinkIdentifierMappingRepository.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

fix: backward compactibility issue
  api/restHandler/GlobalPluginRestHandler.go
  pkg/plugin/bean/bean.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

more query fixes and error handling
  internal/sql/repository/AppListingRepository.go
  pkg/appStore/installedApp/repository/InstalledAppVersionHistory.go
  pkg/cluster/EnvironmentService.go
  pkg/cluster/repository/EnvironmentRepository.go
  pkg/security/policyService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

updated and retry on get server api
  pkg/server/ServerCacheService.go
  pkg/server/ServerService.go
  pkg/server/config/ServerEnvConfig.go
  wire_gen.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

error refactor
  pkg/server/ServerService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

added comments
  pkg/server/ServerService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

updated and retry on get server api
  pkg/server/ServerCacheService.go
  pkg/server/ServerService.go
  pkg/server/config/ServerEnvConfig.go
  wire_gen.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

error refactor
  pkg/server/ServerService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

added comments
  pkg/server/ServerService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

handler error
  pkg/appStore/installedApp/service/AppStoreDeploymentService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

version upgrade
  go.mod
  go.sum
  vendor/modules.txt
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

update error message
  pkg/appStore/installedApp/service/AppStoreDeploymentService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

module installation
  pkg/module/ModuleCacheService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

more query fixes and error handling
  internal/sql/repository/AppListingRepository.go
  pkg/appStore/installedApp/repository/InstalledAppVersionHistory.go
  pkg/cluster/EnvironmentService.go
  pkg/cluster/repository/EnvironmentRepository.go
  pkg/security/policyService.go
Owners: @vikramdevtron, @nishant-d, @prakarsh-dt, @vivek-devtron

Create 299022_00_demo.up.sql
  scripts/sql/299022_00_demo.up.sql
Owners: @prakarsh-dt, @vikramdevtron, @kripanshdevtron, @nishant-d

.github/CODEOWNERS:

#ALL
* @vikramdevtron @nishant-d @prakarsh-dt @vivek-devtron

#Helm Charts
charts/devtron/ @prakarsh-dt @pawan-mehta-dt @nishant-d
scripts/devtron-reference-helm-charts @prakarsh-dt @pawan-mehta-dt @nishant-d
CHANGELOG/ @prakarsh-dt @pawan-mehta-dt @nishant-d

#Migration scripts
scripts/sql @prakarsh-dt @vikramdevtron @kripanshdevtron @nishant-d
scripts/utilities @prakarsh-dt @nishant-d @pawan-mehta-dt

#Github Specific
.github/ @prakarsh-dt @nishant-d @pawan-mehta-dt
