Repository devtron-labs/devtron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vikramdevtron, @kripanshdevtron, @nishant-d, @ashokdevtron, @uxarya-d, @prakarsh-dt, @pawan-mehta-dt

.github/CODEOWNERS:

#ALL
* @vikramdevtron @kripanshdevtron @nishant-d

#DOCS
docs/ @ashokdevtron @uxarya-d @prakarsh-dt

#Helm Charts
charts/devtron/ @prakarsh-dt @pawan-mehta-dt @nishant-d
scripts/devtron-reference-helm-charts @prakarsh-dt @pawan-mehta-dt @nishant-d

#Github Specific
.github/ @prakarsh-dt @nishant-d @pawan-mehta-dt

fixed: wire issue
  pkg/appStore/deployment/repository/InstalledAppRepository.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

TESTING: support for gRPC in health probes
  scripts/devtron-reference-helm-charts/reference-chart_4-18-0/Chart.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-18-0/README.md
  scripts/devtron-reference-helm-charts/reference-chart_4-18-0/app-values.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-18-0/templates/deployment.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-18-0/values.yaml
Owners: @prakarsh-dt, @pawan-mehta-dt, @nishant-d

dex-config namespace configurable
  pkg/sso/SSOLoginService.go
  util/GlobalConfig.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

added callback logger func
  api/restHandler/PipelineTriggerRestHandler.go
  api/router/pubsub/ApplicationStatusHandler.go
  api/router/pubsub/CiEventHandler.go
  api/router/pubsub/GitWebhookHandler.go
  api/router/pubsub/WorkflowStatusUpdateHandler.go
  client/cron/CdApplicationStatusUpdateHandler.go
  go.mod
  go.sum
  internal/sql/repository/pipelineConfig/CdWorfkflowRepository.go
  pkg/appStore/deployment/fullMode/AppStoreDeploymentFullModeService.go
  pkg/appStore/deployment/service/InstalledAppService.go
  pkg/bulkAction/BulkUpdateService.go
  pkg/pipeline/WorkflowDagExecutor.go
  vendor/github.com/devtron-labs/common-lib/pubsub-lib/PubSubClientService.go
  vendor/modules.txt
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

TESTING: removes reference_chart_4-19-0
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/.helmignore
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/.image_descriptor_template.json
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/Chart.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/README.md
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/app-values.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/env-values.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/pipeline-values.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/release-values.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/schema.json
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/secrets-test-values.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/NOTES.txt
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/_helpers.tpl
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/ambassador.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/configmap.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/deployment.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/externalsecrets.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/generic.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/hpa.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/ingress.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/istio-authorizationpolicy.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/istio-destinationrule.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/istio-gateway.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/istio-peerauthentication.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/istio-requestauthentication.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/istio-virtualservice.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/keda-autoscaling.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/metrics-service-monitor.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/networkpolicy.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/poddisruptionbudget.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/pre-sync-job.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/prometheusrules.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/secret.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/service.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/serviceaccount.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/servicemonitor.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/sidecar-configmap.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/templates/winter-soldier.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/test_values.yaml
  scripts/devtron-reference-helm-charts/reference-chart_4-19-0/values.yaml
Owners: @prakarsh-dt, @pawan-mehta-dt, @nishant-d

sql scripts added
  scripts/sql/208_cd_workflow_runner.down.sql
  scripts/sql/208_cd_workflow_runner.up.sql
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

test: Origin/self register auth change (#4479)
  Wire.go
  api/auth/sso/SsoLoginHandler.go
  api/auth/sso/SsoLoginRouter.go
  api/auth/sso/wire_sso.go
  api/auth/user/RbacRoleRestHandler.go
  api/auth/user/RbacRoleRouter.go
  api/auth/user/UserAuthHandler.go
  api/auth/user/UserAuthRouter.go
  api/auth/user/UserRestHandler.go
  api/auth/user/UserRouter.go
  api/auth/user/wire_selfRegistration.go
  api/auth/user/wire_user.go
  api/auth/user/wire_userAudit.go
  api/bean/UserRequest.go
  api/restHandler/app/BuildPipelineRestHandler.go
  api/router/router.go
  cmd/external-app/router.go
  cmd/external-app/wire.go
  cmd/external-app/wire_gen.go
  pkg/auth/user/RoleGroupService.go
  pkg/auth/user/UserCommonService.go
  scripts/sql/208_global_authorisation_config.down.sql
  scripts/sql/208_global_authorisation_config.up.sql
  scripts/sql/210_create_user_group.down.sql
  scripts/sql/210_create_user_group.up.sql
  wire_gen.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

query fix
  internal/sql/repository/pipelineConfig/CdWorfkflowRepository.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

query fix
  pkg/pipeline/WorkflowDagExecutor.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

added grpc support in sts and deployment chart
  scripts/devtron-reference-helm-charts/deployment-chart_4-18-0/README.md
  scripts/devtron-reference-helm-charts/deployment-chart_4-18-0/app-values.yaml
  scripts/devtron-reference-helm-charts/deployment-chart_4-18-0/templates/deployment.yaml
  scripts/devtron-reference-helm-charts/deployment-chart_4-18-0/values.yaml
  scripts/devtron-reference-helm-charts/statefulset-chart_4-18-0/README.md
  scripts/devtron-reference-helm-charts/statefulset-chart_4-18-0/app-values.yaml
  scripts/devtron-reference-helm-charts/statefulset-chart_4-18-0/templates/statefulset.yaml
  scripts/devtron-reference-helm-charts/statefulset-chart_4-18-0/values.yaml
Owners: @prakarsh-dt, @pawan-mehta-dt, @nishant-d

error handled
  pkg/security/ImageScanService.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

api spec for saving digest enforcement config
  specs/attributes.yaml
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

fixed: query condition
  pkg/appStore/deployment/repository/InstalledAppRepository.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

fix
  pkg/pipeline/WorkflowDagExecutor.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

all code changes done
  api/restHandler/NotificationRestHandler.go
  api/restHandler/app/DeploymentPipelineRestHandler.go
  client/events/EventBuilder.go
  client/events/EventBuilder_test.go
  client/events/EventClient.go
  client/events/NotifierBean.go
  enterprise/api/drafts/ConfigDraftRestHandler.go
  enterprise/pkg/drafts/ConfigDraftRepository.go
  enterprise/pkg/drafts/ConfigDraftService.go
  enterprise/pkg/drafts/bean.go
  enterprise/pkg/drafts/tests/ConfigDraftService_test.go
  internal/sql/repository/imageTagging/ImageTaggingRepository.go
  pkg/apiToken/ApiTokenBean.go
  pkg/apiToken/ApiTokenService.go
  pkg/bean/app.go
  pkg/notifier/NotificationConfigBuilder.go
  pkg/notifier/NotificationConfigService.go
  pkg/notifier/SESNotificationService.go
  pkg/notifier/SMTPNotificationService.go
  pkg/pipeline/CdHandler.go
  util/event/Event.go
  wire_gen.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

array deleted element
  enterprise/pkg/lockConfiguration/LockConfigurationService.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

space removed
  client/dashboard/DashboardRouter.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

updated ArtifactsSourceType const
  api/router/pubsub/CiEventHandler.go
  internal/sql/repository/AppListingRepository.go
  internal/sql/repository/CiArtifactRepository.go
  pkg/deploymentGroup/DeploymentGroupService.go
  pkg/pipeline/PipelineBuilder.go
  pkg/pipeline/WorkflowDagExecutor.go
  wire_gen.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

remove nil
  enterprise/pkg/lockConfiguration/LockConfigurationService.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

some issue fixed
  api/restHandler/NotificationRestHandler.go
  client/events/EventBuilder.go
  pkg/apiToken/ApiTokenService.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

beta: fix argocd register
  internal/util/ChartDeploymentService.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

beta: fix argocd register
  internal/util/ChartDeploymentService.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

extracted resource tree
  pkg/appStore/deployment/service/InstalledAppService.go
  pkg/appStore/deployment/service/ResourceTree.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

beta: added log
  internal/util/ChartDeploymentService.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

beta: added TODO
  internal/util/ChartDeploymentService.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

beta: fixed missing payload
  internal/util/ChartDeploymentService.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

beta: fixed missing payload
  internal/util/ChartDeploymentService.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

separate overrides
  cmd/external-app/wire_gen.go
  enterprise/api/lockConfiguation/lockConfigrationRestHandler.go
  enterprise/pkg/lockConfiguration/LockConfigurationService.go
  util/rbac/EnforcerUtil.go
  wire_gen.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

refactoring
  api/restHandler/PipelineTriggerRestHandler.go
  api/router/pubsub/ApplicationStatusHandler.go
  api/router/pubsub/CiEventHandler.go
  api/router/pubsub/GitWebhookHandler.go
  api/router/pubsub/WorkflowStatusUpdateHandler.go
  client/cron/CdApplicationStatusUpdateHandler.go
  go.mod
  go.sum
  internal/sql/repository/pipelineConfig/CdWorfkflowRepository.go
  pkg/appStore/deployment/fullMode/AppStoreDeploymentFullModeService.go
  pkg/appStore/deployment/service/InstalledAppService.go
  pkg/bulkAction/BulkUpdateService.go
  pkg/pipeline/CdHandler.go
  pkg/pipeline/WebhookService.go
  pkg/pipeline/WorkflowDagExecutor.go
  pkg/sql/connection.go
  vendor/github.com/devtron-labs/common-lib/pubsub-lib/NatsClient.go
  vendor/github.com/devtron-labs/common-lib/pubsub-lib/PubSubClientService.go
  vendor/github.com/devtron-labs/common-lib/pubsub-lib/model/PubSubClientBean.go
  vendor/modules.txt
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

handle before update
  pkg/chart/ChartService.go
  pkg/pipeline/PropertiesConfig.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

wip
  internal/sql/repository/pipelineConfig/PipelineRepository.go
  pkg/attributes/EnvironmentAttributesService.go
  pkg/pipeline/CiService.go
  pkg/pipeline/WorkflowDagExecutor.go
  pkg/pipeline/types/CiCdConfig.go
  scripts/sql/207_pull_image_using_digest.down.sql
  scripts/sql/207_pull_image_using_digest.up.sql
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

remove dag exececutor dependency from ciEeventHalndler Sevice
  api/router/pubsub/CiEventHandler.go
  pkg/pipeline/WebhookService.go
  wire_gen.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

bump common-lib
  go.mod
  go.sum
  vendor/github.com/devtron-labs/common-lib/pubsub-lib/PubSubClientService.go
  vendor/modules.txt
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

code refactored
  api/restHandler/NotificationRestHandler.go
  client/events/EventBuilder.go
  pkg/apiToken/ApiTokenBean.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

added: ssh clone stage to validation
  internal/util/ChartDeploymentService.go
  internal/util/GitService.go
  internal/util/GitServiceAzure.go
  internal/util/GitServiceBitbucket.go
  internal/util/GitServiceGithub.go
  internal/util/GitServiceGitlab.go
  pkg/gitops/GitOpsConfigService.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

Updated latest image of dashboard in installer
  charts/devtron/devtron-bom.yaml
  charts/devtron/values.yaml
  manifests/yamls/dashboard.yaml
Owners: @prakarsh-dt, @pawan-mehta-dt, @nishant-d, @vikramdevtron, @kripanshdevtron

move context to trigger context
  api/restHandler/PipelineTriggerRestHandler.go
  pkg/bulkAction/BulkUpdateService.go
  pkg/pipeline/CdHandler.go
  pkg/pipeline/WorkflowDagExecutor.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

Add files via upload
  assets/copa-plugin-icon.png
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

fix: Error code changed for resource api (#4414)
  api/helm-app/HelmAppService.go
  api/restHandler/AppWorkflowRestHandler.go
  api/restHandler/app/BuildPipelineRestHandler.go
  internal/util/ErrorUtil.go
  pkg/k8s/K8sCommonService.go
  pkg/pipeline/CiHandler.go
  pkg/pipeline/WebhookService.go
  pkg/pipeline/WorkflowDagExecutor.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

adding get api for digest config
  specs/attributes.yaml
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d
