Repository devtron-labs/devtron, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vikramdevtron, @kripanshdevtron, @nishant-d, @ashokdevtron, @uxarya-d, @prakarsh-dt, @pawan-mehta-dt

Updated release notes
  beta-releasenotes.md
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

migration for chart ref 4.19
  scripts/sql/208_ref_chart_4-19-0.down.sql
  scripts/sql/208_ref_chart_4-19-0.up.sql
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

Updated latest image of kubelink in installer
  charts/devtron/devtron-bom.yaml
  charts/devtron/values.yaml
  manifests/yamls/kubelink.yaml
Owners: @prakarsh-dt, @pawan-mehta-dt, @nishant-d, @vikramdevtron, @kripanshdevtron

Updated latest image of dashboard in installer
  charts/devtron/devtron-bom.yaml
  charts/devtron/values.yaml
  manifests/yamls/dashboard.yaml
Owners: @prakarsh-dt, @pawan-mehta-dt, @nishant-d, @vikramdevtron, @kripanshdevtron

Updated latest image of devtron in installer
  charts/devtron/devtron-bom.yaml
  charts/devtron/values.yaml
  manifests/yamls/devtron.yaml
  manifests/yamls/migrator.yaml
Owners: @prakarsh-dt, @pawan-mehta-dt, @nishant-d, @vikramdevtron, @kripanshdevtron

Updated latest image of dashboard in installer
  charts/devtron/devtron-bom.yaml
  charts/devtron/values.yaml
  manifests/yamls/dashboard.yaml
Owners: @prakarsh-dt, @pawan-mehta-dt, @nishant-d, @vikramdevtron, @kripanshdevtron

fix
  client/gitSensor/GitSensorGrpcClient.go
  go.mod
  go.sum
  vendor/github.com/argoproj/argo-cd/assets/badge.svg
  vendor/github.com/argoproj/argo-cd/assets/builtin-policy.csv
  vendor/github.com/argoproj/argo-cd/assets/model.conf
  vendor/github.com/argoproj/argo-cd/assets/swagger.json
  vendor/github.com/devtron-labs/common-lib/utils/bean/bean.go
  vendor/modules.txt
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

fix
  vendor/github.com/argoproj/argo-cd/assets/badge.svg
  vendor/github.com/argoproj/argo-cd/assets/builtin-policy.csv
  vendor/github.com/argoproj/argo-cd/assets/model.conf
  vendor/github.com/argoproj/argo-cd/assets/swagger.json
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

updated API error
  api/appStore/deployment/AppStoreDeploymentRestHandler.go
  api/restHandler/app/DeploymentPipelineRestHandler.go
  pkg/appStore/deployment/service/AppStoreDeploymentService.go
  pkg/chart/ChartService.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

compare with currentOverride
  pkg/chart/ChartService.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

fix: unnecessary 5xx in api fixes enterprise (#713)
  api/helm-app/HelmAppService.go
  api/restHandler/AppWorkflowRestHandler.go
  api/restHandler/app/BuildPipelineRestHandler.go
  internal/util/ErrorUtil.go
  pkg/k8s/K8sCommonService.go
  pkg/pipeline/CiHandler.go
  pkg/pipeline/WebhookService.go
  pkg/pipeline/WorkflowDagExecutor.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

blank draft
  docs/user-guide/global-configurations/catalog-framework.md
Owners: @ashokdevtron, @uxarya-d, @prakarsh-dt

Updated latest image of dashboard in installer
  charts/devtron/devtron-bom.yaml
  charts/devtron/values.yaml
  manifests/yamls/dashboard.yaml
Owners: @prakarsh-dt, @pawan-mehta-dt, @nishant-d, @vikramdevtron, @kripanshdevtron

code refactored
  api/restHandler/NotificationApprovalConstant.go
  api/restHandler/NotificationRestHandler.go
  api/router/NotificationRouter.go
  client/events/EventBuilder.go
  pkg/attributes/AttributesService.go
  pkg/notifier/NotificationConfigService.go
  pkg/user/UserService.go
  wire_gen.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

compare with currentOverride
  pkg/chart/ChartService.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

fix
  client/gitSensor/GitSensorGrpcClient.go
  go.mod
  go.sum
  vendor/modules.txt
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

fix
  vendor/github.com/devtron-labs/common-lib/utils/bean/bean.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

removed empty repo in Custom Validation and added retry to RegisterInArgo
  api/appStore/InstalledAppRestHandler.go
  internal/util/ChartDeploymentService.go
  internal/util/GitService.go
  internal/util/GitServiceAzure.go
  internal/util/GitServiceBitbucket.go
  internal/util/GitServiceGithub.go
  internal/util/GitServiceGitlab.go
  pkg/app/ManifestPushService.go
  pkg/appStore/deployment/fullMode/AppStoreDeploymentFullModeService.go
  pkg/appStore/deployment/tool/gitops/AppStoreDeploymentArgoCdService.go
  pkg/chart/ChartService.go
  pkg/gitops/GitOpsConfigService.go
  pkg/pipeline/DeploymentPipelineConfigService.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

removed empty repo in Custom Validation and added retry to RegisterInArgo
  pkg/appStore/deployment/service/AppStoreDeploymentService.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

fix: mandatory plugin multiple selector policy filtering issue (#714)
  pkg/globalPolicy/GlobalPolicyService.go
  pkg/globalPolicy/GlobalPolicyService_test.go
  pkg/pipeline/BuildPipelineConfigService.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

fixed: clone validation
  internal/util/GitServiceAzure.go
  internal/util/GitServiceBitbucket.go
  internal/util/GitServiceGithub.go
  internal/util/GitServiceGitlab.go
  pkg/gitops/GitOpsConfigService.go
Owners: @vikramdevtron, @kripanshdevtron, @nishant-d

.github/CODEOWNERS:

#ALL
* @vikramdevtron @kripanshdevtron @nishant-d

#DOCS
docs/ @ashokdevtron @uxarya-d @prakarsh-dt

#Helm Charts
charts/devtron/ @prakarsh-dt @pawan-mehta-dt @nishant-d
scripts/devtron-reference-helm-charts @prakarsh-dt @pawan-mehta-dt @nishant-d

#Github Specific
.github/ @prakarsh-dt @nishant-d @pawan-mehta-dt
